web/core
sites/*/settings*.php
sites/*/services*.yml
sites/*/files
sites/*/private
sites/simpletest
vendor
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/INSTALL.txt
web/README.txt
web/autoload.php
web/example.gitignore
web/index.php
web/robots.txt
web/update.php
web/web.config

composer.lock

